for $i in (0..16)
  .u-margin-{$i * 25}
    margin $i * 0.25rem

  .u-margin-top-{$i * 25}
    margin-top $i * 0.25rem

  .u-margin-right-{$i * 25}
    margin-right $i * 0.25rem

  .u-margin-bottom-{$i * 25}
    margin-bottom $i * 0.25rem

  .u-margin-left-{$i * 25}
    margin-left $i * 0.25rem
