for $i in (0..16)
  .u-padding-{$i * 25}
    padding $i * 0.25rem

  .u-padding-top-{$i * 25}
    padding-top $i * 0.25rem

  .u-padding-right-{$i * 25}
    padding-right $i * 0.25rem

  .u-padding-bottom-{$i * 25}
    padding-bottom $i * 0.25rem

  .u-padding-left-{$i * 25}
    padding-left $i * 0.25rem
